/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --azulMorado:#7400b8;
    --azul:#5e60ce;
    --tuequesa:#48bfe3;
    --negro:#000000;
    --blanco:#ffffff;
    --fontPpal:'Nanum Gothic', sans-serif;;

}