/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --azulMorado:#7400b8;
    --azul:#5e60ce;
    --turquesa:#48bfe3;
    --claro:#f4f1de;
    --negro:#000000;
    --blanco:#ffffff;
    --fontPpal:'Nanum Gothic', sans-serif;;
}
body{
    background-color: var(--claro);
    font-family: var(--fontPpal);
}
h2{ 
    flex: 0 1 100%;     /*CON EL CERO NO VA A CRECER*/
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
h3{
    font-family: var(--fontPpal);
    margin: 0;
    font-weight: 700;
}
img{    max-width: 100%;}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

@media(min-width:480px){
    .contenido-ppal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .entrada{
        flex: 0 1 calc(50% - 1rem); /*IMPORTANTE SEPARAR BIEN DENTRO DEL PARENTESIS*/
        border: 1PX solid var(--azul);
        margin: 0.5rem;

    }
}

@media(min-width:768px){
    .entrada{
        flex: 0 1 calc(33% - 1rem); /*IMPORTANTE SEPARA BIEN DENTRO DEL PARENETESIS*/
    }
}

.contenido{
    background-color: var(--blanco);
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}
.contenido span{
    color: var(--azulMorado);
    font-weight: bold;
}

.contenido h3{
    font-size: 1rem;
    line-height: 1.4rem;
}

.boton{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 1rem 3rem;
    text-decoration: none;
    margin-top: 1rem;
    /* display: block; */
    display: inline-block;


}